.container {
    height: 100%;
}

.itemContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
    font-size: 18px;
}

.label {
    font-weight: 500;
}

.inputContainer {
    width: 200px;
}