.headerImg {
    width: 100px;
    height: 100px;
    background: url('@/statics/logo.png') no-repeat center;
    background-size: cover;
}

.userInfoBox {
    display: flex;
    align-items: center;
}